:root {
    background-color: #8F754F;
    padding: 30px;
}

h1 {
    color: #2B4162;
    position: absolute;
}

header {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 3px solid rgb(0 0 0 / 1);
    padding: 1rem;
    nav a {
        text-decoration: none;
    }

}

nav a {
    text-decoration: none;
}
header img {
    width: 150px;
}

h2 {
    color: #385F71;
}

p {
    color: #F5F0F6;
}

.sociallinks a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero h1 {
    color: #F5F0F6;
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(43, 65, 98, 0.5);
    padding: 1rem;
}

.hero article {
    position: absolute;
    top: 20rem;
    background-color: rgba(43, 65, 98, 0.5); 
    padding: 1rem;
    max-width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.hero article img {
    width: 200px;
    float: right;
}

.history {
    padding: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 1rem;
}

.history h2 {
    text-align: center;
    grid-column: 1/4;
}
 
.history img {
    width: 500px;
    height: auto;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.adventure div {
    display: flex;
    flex-flow: row;
}
 
.adventure figure {
   padding: 4px;
   max-height: 200px;
   margin: auto;
}
 
.adventure figure img {
    max-height: 100px;
}
.adventure figcaption {
    padding: 2px;
    text-align: center;
}

footer {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 3px solid rgb(0 0 0 / 1);
    padding: 1rem;
}